.carousel {
  position: relative;
  overflow-x: visible;
  width: 100%;

  .carousel__content {
    position: relative;
    width: 100%;
    scroll-snap-type: x mandatory;

    @media screen and (max-width: 1024px) {
      overflow-x: auto;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .carousel__list {
      width: 100%;
      transition: all 1s cubic-bezier(0.22, 1, 0.36, 1);
    }
  }
}
