.logo-portrait {
  width: 25px;
  height: 25px;
}

.info-title-portrait,
.info-title-landscape {
  color: #fff;
  line-height: 24px;
}

.info-title-portrait {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.info-title-landscape {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 8px;
}
